[Unit]
Description=BSN hub
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node-hub
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
