[Unit]
Description=BSN hub
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
ExecStart=/usr/bin/node-hub
Restart=always

[Install]
WantedBy=multi-user.target
